@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Lato;
    src: url("./Lato-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: Lato;
    src: url("./Lato-Bold.ttf");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: Merriweather;
    src: url("./Merriweather-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: Merriweather;
    src: url("./Merriweather-Bold.ttf");
    font-weight: 700;
    font-display: swap;
  }
}
