.remirror-editor-wrapper {
  width: 100%;
  max-width: 100%;
  flex: 1 1 0%;
  flex-direction: column;
}

.remirror-editor.ProseMirror {
  height: 100% !important;
  overflow-y: auto !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.editor-component {
  height: 100%;
  overflow: auto;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  .remirror-editor.ProseMirror {
    overflow: hidden !important;
  }
  &:has(*:focus) {
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70 / var(--tw-bg-opacity));
  }
}

.remirror-editor-wrapper:has(.remirror-is-empty) {
  min-height: 24rem;
}

.remirror-editor,
.Prosemirror,
.staticRendererContainer {
  max-width: 100%;
  padding: 1rem;
  font-family: Lato;
}

.remirror-editor:focus-visible,
.Prosemirror:focus-visible,
.staticRendererContainer:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.remirror-editor,
.Prosemirror,
.staticRendererContainer {
  a[rel] {
    --tw-text-opacity: 1 !important;
    color: rgb(125 211 252 / var(--tw-text-opacity)) !important;
  }
  a[rel] {
    text-decoration-line: underline !important;
  }
  span.dice-roll {
    cursor: pointer !important;
  }
  span.dice-roll {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }
  span.dice-roll {
    text-decoration-line: underline !important;
  }
  span.dice-roll {
    text-decoration-style: dotted !important;
  }
  /* span.document-template-field {
    @apply font-mono text-white underline decoration-dashed underline-offset-2 !important;
  } */
  :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 700;
  }
  h1 {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  h6 {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  hr {
    --tw-border-opacity: 1 !important;
    border-color: rgb(63 63 70 / var(--tw-border-opacity)) !important;
  }
  ol {
    margin-left: 0.25rem;
  }
  ol {
    list-style-type: decimal;
  }
  ul:not(.tableOfContentsList) {
    margin-left: 0.25rem;
  }
  ul:not(.tableOfContentsList) {
    list-style-type: disc;
  }
  ol,
  ul {
    list-style-position: inside !important;
    padding-inline-start: 0.75rem;
    p:not(.ProseMirror-staticTrailingBreak) {
      display: inline !important;
    }
    li {
      position: relative;
    }
  }
  ul[data-task-list] {
    .remirror-list-item-marker-container {
      position: relative !important;
    }
    .remirror-list-item-marker-container {
      left: 0px !important;
    }
    .remirror-list-item-marker-container {
      width: -moz-fit-content !important;
      width: fit-content !important;
    }
    li {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    li {
      > * {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }
    label input {
      position: relative;
    }
    label input {
      margin: 0px;
    }
    label input {
      margin-left: -0.25rem;
    }
    label input {
      margin-right: 0.25rem;
    }
    label input {
      height: 1rem;
    }
    label input {
      width: 1rem;
    }
    label input {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }
    label input {
      border-radius: 0.25rem;
    }
    label input {
      border-width: 1px;
    }
    label input {
      --tw-bg-opacity: 1;
      background-color: rgb(63 63 70 / var(--tw-bg-opacity));
    }
    label input {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    label input {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    label input {
      &:checked {
        --tw-bg-opacity: 1;
        background-color: rgb(161 161 170 / var(--tw-bg-opacity));
      }
      &:checked {
        &:after {
          content: "\2713";
          color: #fff;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    div {
      display: inline;
    }
  }
  blockquote {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  blockquote {
    border-width: 0px !important;
  }
  blockquote {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  blockquote {
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
  }
  blockquote {
    font-style: italic !important;
  }
  blockquote {
    *,
    p {
      border-left-width: 2px !important;
    }
    *,
    p {
      --tw-border-opacity: 1 !important;
      border-color: rgb(113 113 122 / var(--tw-border-opacity)) !important;
    }
    *,
    p {
      padding-left: 0.5rem !important;
    }
    *,
    p {
      --tw-text-opacity: 1 !important;
      color: rgb(228 228 231 / var(--tw-text-opacity)) !important;
    }
  }
  :not(.characterMentionImage >) {
    img {
      padding: 0.25rem !important;
    }
  }
  table {
    display: block !important;
  }
  table {
    table-layout: auto !important;
  }
  table {
    overflow: auto !important;
  }
  table {
    padding-bottom: 0.375rem !important;
  }
  table {
    tbody {
      overflow: auto !important;
    }
    tbody {
      tr {
        max-height: -moz-fit-content !important;
        max-height: fit-content !important;
      }
      tr {
        td {
          max-height: -moz-fit-content !important;
          max-height: fit-content !important;
        }
        td {
          width: 14rem !important;
        }
        td {
          min-width: 14rem !important;
        }
        td {
          p {
            margin-top: 0.5rem !important;
            margin-bottom: 0.5rem !important;
          }
        }
      }
    }
    th {
      height: 2.5rem;
    }
    th {
      border-width: 1px;
    }
    th {
      padding: 0px;
    }
    th {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    th {
      img {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      p {
        margin: 0px;
      }
      p {
        margin-top: -1px;
      }
      p {
        display: flex;
      }
      p {
        height: 100%;
      }
      p {
        align-items: center;
      }
      p {
        justify-content: center;
      }
      p {
        text-align: center;
      }
    }
    .selectedCell {
      --tw-bg-opacity: 1 !important;
      background-color: rgb(37 99 235 / var(--tw-bg-opacity)) !important;
    }
    .selectedCell {
      --tw-text-opacity: 1 !important;
      color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
    }
    &::-webkit-scrollbar {
      height: 0.5rem;
    }
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar {
      cursor: pointer;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      z-index: 0;
    }
    &::-webkit-scrollbar-track {
      --tw-bg-opacity: 1;
      background-color: rgb(63 63 70 / var(--tw-bg-opacity));
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      z-index: 0;
    }
    &::-webkit-scrollbar-thumb {
      cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
      --tw-bg-opacity: 1;
      background-color: rgb(113 113 122 / var(--tw-bg-opacity));
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      --tw-bg-opacity: 1;
      background-color: rgb(161 161 170 / var(--tw-bg-opacity));
    }
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
  }
  .remirror-table-controller-wrapper {
    display: none !important;
  }
  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }
  .annotation {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite !important;
  }
  .annotation {
    background-color: transparent !important;
  }
  .annotation {
    --tw-text-opacity: 1 !important;
    color: rgb(96 165 250 / var(--tw-text-opacity)) !important;
  }
  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }
  .selectedAnnotation {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite !important;
  }
  .selectedAnnotation {
    background-color: transparent !important;
  }
  .selectedAnnotation {
    --tw-text-opacity: 1 !important;
    color: rgb(74 222 128 / var(--tw-text-opacity)) !important;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  p {
    .remirror-resizable-view {
      display: inline-block;
    }
    .remirror-resizable-view {
      > * {
        -webkit-user-select: all;
           -moz-user-select: all;
                user-select: all;
      }
    }
  }
  img {
    background-color: transparent !important;
  }
  img:focus-visible {
    border-width: 8px !important;
  }
  *[data-node-text-align="none"]:not(blockquote) {
    float: none;
  }
  *[data-node-text-align="left"]:not(blockquote),
  [nodetextalignment="left"]:not(blockquote) {
    margin-right: 1rem;
  }
  *[data-node-text-align="left"]:not(blockquote),
  [nodetextalignment="left"]:not(blockquote) {
    text-align: left;
  }
  *[data-node-text-align="right"]:not(blockquote),
  *[nodetextalignment="right"]:not(blockquote) {
    margin-left: 1rem;
  }
  *[data-node-text-align="right"]:not(blockquote),
  *[nodetextalignment="right"]:not(blockquote) {
    text-align: right;
  }
  *[nodetextalignment="center"]:not(blockquote) {
    display: flex;
  }
  *[nodetextalignment="center"]:not(blockquote) {
    justify-content: center;
  }
  *[nodetextalignment="center"]:not(blockquote) {
    text-align: center;
  }
  div[data-callout-type="error"],
  div[data-callout-type="warning"],
  div[data-callout-type="success"],
  div[data-callout-type="info"] {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
  }
  div[data-callout-type="error"],
  div[data-callout-type="warning"],
  div[data-callout-type="success"],
  div[data-callout-type="info"] {
    .remirror-mention-atom {
      a {
        --tw-text-opacity: 1 !important;
        color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
      }
    }
  }
  div[data-callout-type="custom"] {
    border-radius: 0.25rem;
  }
  div[data-callout-type="custom"] {
    border-left-width: 4px;
  }
  div[data-callout-type="custom"] {
    padding: 0.5rem;
  }
  div[data-callout-type="info"] {
    border-radius: 0.25rem;
  }
  div[data-callout-type="info"] {
    border-left-width: 4px;
  }
  div[data-callout-type="info"] {
    --tw-border-opacity: 1;
    border-color: rgb(50 152 220 / var(--tw-border-opacity));
  }
  div[data-callout-type="info"] {
    --tw-bg-opacity: 1;
    background-color: rgb(238 246 252 / var(--tw-bg-opacity));
  }
  div[data-callout-type="info"] {
    padding: 0.5rem;
  }
  div[data-callout-type="error"] {
    border-radius: 0.25rem;
  }
  div[data-callout-type="error"] {
    border-left-width: 4px;
  }
  div[data-callout-type="error"] {
    --tw-border-opacity: 1;
    border-color: rgb(241 70 104 / var(--tw-border-opacity));
  }
  div[data-callout-type="error"] {
    --tw-bg-opacity: 1;
    background-color: rgb(254 236 240 / var(--tw-bg-opacity));
  }
  div[data-callout-type="error"] {
    padding: 0.5rem;
  }
  div[data-callout-type="warning"] {
    border-radius: 0.25rem;
  }
  div[data-callout-type="warning"] {
    border-left-width: 4px;
  }
  div[data-callout-type="warning"] {
    --tw-border-opacity: 1;
    border-color: rgb(255 221 87 / var(--tw-border-opacity));
  }
  div[data-callout-type="warning"] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 251 235 / var(--tw-bg-opacity));
  }
  div[data-callout-type="warning"] {
    padding: 0.5rem;
  }
  div[data-callout-type="success"] {
    border-radius: 0.25rem;
  }
  div[data-callout-type="success"] {
    border-left-width: 4px;
  }
  div[data-callout-type="success"] {
    --tw-border-opacity: 1;
    border-color: rgb(72 199 116 / var(--tw-border-opacity));
  }
  div[data-callout-type="success"] {
    --tw-bg-opacity: 1;
    background-color: rgb(239 250 243 / var(--tw-bg-opacity));
  }
  div[data-callout-type="success"] {
    padding: 0.5rem;
  }
  .remirror-list-item-with-custom-mark {
    &[data-checked] {
      div p {
        text-decoration-line: line-through !important;
      }
    }
    .remirror-list-item-checkbox {
      accent-color: #38bdf8 !important;
    }
    .remirror-list-item-checkbox {
      filter: none !important;
    }
  }
  .secretBlock {
    border: solid 2px rgba(131, 238, 255, 0.5);
    background-color: rgba(131, 238, 255, 0.2);
    padding: 1rem;
    border-radius: 0.1rem;
    overflow: auto;
  }
  .tableOfContentsList {
    border-radius: 0.25rem;
  }
  .tableOfContentsList {
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 42 / var(--tw-bg-opacity));
  }
  .tableOfContentsList {
    padding: 0.5rem;
  }
  .tableOfContentsList {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .ProseMirror-selectednode {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.staticRendererContainer {
  height: 100%;
  width: 100%;
  :is(h1, h2, h3, h4, h5, h6) {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }
  p:not(.ProseMirror-staticTrailingBreak) {
    min-height: 1.5rem;
  }
  a {
    cursor: pointer !important;
  }
  a:hover {
    --tw-text-opacity: 1 !important;
    color: rgb(224 242 254 / var(--tw-text-opacity)) !important;
  }
  hr {
    --tw-border-opacity: 1 !important;
    border-color: rgb(82 82 91 / var(--tw-border-opacity)) !important;
  }
  img {
    display: inline-block !important;
  }
  img {
    max-width: 100% !important;
  }
  .spoiler {
    cursor: pointer;
  }
  .spoiler {
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70 / var(--tw-bg-opacity));
  }
  .spoiler {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .spoiler {
    --tw-text-opacity: 1;
    color: rgb(63 63 70 / var(--tw-text-opacity));
  }
  .spoiler {
    transition-property: none;
  }
  .spoiler {
    &::-moz-selection {
      --tw-text-opacity: 1;
      color: rgb(63 63 70 / var(--tw-text-opacity));
    }
    &::selection {
      --tw-text-opacity: 1;
      color: rgb(63 63 70 / var(--tw-text-opacity));
    }
    .mention-atom-node-view-wrapper {
      color: transparent;
    }
    .mention-atom-node-view-wrapper {
      a {
        transition-property: none;
      }
      .characterMentionImage {
        div {
          background-color: transparent;
        }
        div {
          transition-property: none;
        }
      }
    }
    .characterMentionImage {
      div {
        background-color: transparent;
      }
      div {
        transition-property: none;
      }
      img {
        opacity: 0;
      }
      img {
        transition-property: none;
      }
    }
  }
  .spoiler:hover {
    background-color: transparent !important;
  }
  .spoiler:hover {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }
  .spoiler:hover {
    .mention-atom-node-view-wrapper {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .mention-atom-node-view-wrapper {
      transition-property: none;
    }
    .characterMentionImage {
      div {
        --tw-bg-opacity: 1;
        background-color: rgb(82 82 91 / var(--tw-bg-opacity));
      }
      div {
        transition-property: none;
      }
      img {
        opacity: 1;
      }
    }
  }
}

.drawerEventDescription {
  .staticRendererContainer {
    padding: 0px;
  }
}

.editor:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.remirror-editor {
  max-width: 100% !important;
  overflow: hidden !important;
  &.ProseMirror {
    blockquote {
      padding: 0px !important;
    }
    blockquote {
      --tw-text-opacity: 1 !important;
      color: rgb(244 244 245 / var(--tw-text-opacity)) !important;
    }
  }
  .spoiler {
    cursor: pointer;
  }
  .spoiler {
    --tw-bg-opacity: 1;
    background-color: rgb(113 113 122 / var(--tw-bg-opacity));
  }
  .spoiler {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .spoiler {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .spoiler {
    transition-property: none;
  }
  .spoiler {
    &::-moz-selection {
      --tw-text-opacity: 1;
      color: rgb(63 63 70 / var(--tw-text-opacity));
    }
    &::selection {
      --tw-text-opacity: 1;
      color: rgb(63 63 70 / var(--tw-text-opacity));
    }
    &:hover {
      background-color: transparent;
    }
    &:hover {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    &:hover {
      .mention-atom-node-view-wrapper {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }
      .mention-atom-node-view-wrapper {
        transition-property: none;
      }
      .characterMentionImage {
        div {
          --tw-bg-opacity: 1;
          background-color: rgb(82 82 91 / var(--tw-bg-opacity));
        }
        div {
          transition-property: none;
        }
        img {
          opacity: 1;
        }
      }
    }
    .mention-atom-node-view-wrapper {
      color: transparent;
    }
    .mention-atom-node-view-wrapper {
      a {
        transition-property: none;
      }
      .characterMentionImage {
        div {
          background-color: transparent;
        }
        div {
          transition-property: none;
        }
      }
    }
    .characterMentionImage {
      div {
        background-color: transparent;
      }
      div {
        transition-property: none;
      }
      img {
        opacity: 0;
      }
      img {
        transition-property: none;
      }
    }
  }
}

.p-menubar {
  padding: 0px !important;
  .p-menuitem {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .p-menuitem {
    &.menuBarButtonActive {
      --tw-bg-opacity: 1;
      background-color: rgb(56 189 248 / var(--tw-bg-opacity));
    }
  }
  .p-menubar-end {
    display: flex;
  }
  .p-menubar-end {
    max-height: 2rem;
  }
  .p-menubar-end {
    max-width: 2rem;
  }
  .p-menubar-end {
    align-items: center;
  }
  .p-menubar-end {
    .p-progress-spinner {
      width: 2rem !important;
    }
  }
}

.commandMenu {
  z-index: 100 !important;
}

.p-chips {
  display: block !important;
  width: 100% !important;
}

.p-chips-multiple-container {
  max-width: 100% !important;
  border-radius: 0px !important;
  border-top-width: 0px !important;
}

.p-autocomplete {
  display: block !important;
}

.p-chips-token,
.p-autocomplete-token {
  margin-top: 0.125rem !important;
  margin-bottom: 0.125rem !important;
}

.p-chips-token-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alterNamesChips {
  .p-autocomplete-token {
    max-width: 100% !important;
  }
  .p-autocomplete-token {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(234 88 12 / var(--tw-bg-opacity)) !important;
  }
}

.p-tag {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(3 105 161 / var(--tw-bg-opacity)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  &.p-tag-warning {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(251 146 60 / var(--tw-bg-opacity)) !important;
  }
}

.edit_permission_tag {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity)) !important;
}

.view_permission_tag {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(251 146 60 / var(--tw-bg-opacity)) !important;
}

.none_permission_tag {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(82 82 91 / var(--tw-bg-opacity)) !important;
}

.alter_namesTags {
  .p-tag {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(234 88 12 / var(--tw-bg-opacity)) !important;
  }
}

.documentTagsAutocomplete,
.mapTagsAutocomplete {
  ul,
  input {
    width: 100%;
  }
}

.tagsAutocomplete {
  .p-autocomplete-token {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(3 105 161 / var(--tw-bg-opacity)) !important;
  }
}

.arrowSaveButton {
  width: 100% !important;
}

/* Mentions */

.remirror-mention-atom-popup-wrapper {
  overflow: hidden !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity)) !important;
  padding: 0px !important;
}

.remirror-mention-atom-popup-item {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.remirror-mention-atom-popup-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb(113 113 122 / var(--tw-bg-opacity));
}

.remirror-mention-atom-popup-name {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.remirror-suggest-atom {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.remirror-mention-atom {
  padding: 0px !important;
  .mentionMapIcon {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }
}

.remirror-suggest-atom.suggest-at {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.remirror-mention-atom-popup-item.remirror-mention-atom-popup-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
}

.remirror-mention-atom-popup-item.remirror-mention-atom-popup-highlight
  .remirror-mention-atom-popup-name,
.remirror-mention-atom-popup-item.remirror-mention-atom-popup-hovered
  .remirror-mention-atom-popup-name {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.remirror-mention-atom-popup-item.remirror-mention-atom-popup-hovered {
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity));
}

.secret-icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background-repeat: no-repeat;
  fill: #fff;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  background-image: url("https://api.iconify.design/ph/eye-slash.svg?color=white");
  background-size: 100% 100%;
}

.staticRendererContainer blockquote .ProseMirror-staticTrailingBreak {
  height: 0.25rem;
}

.remirror-editor,
.staticRendererContainer {
  blockquote[nodetextalignment="center"] {
    display: flex !important;
  }
  blockquote[nodetextalignment="center"] {
    justify-content: center !important;
  }
  blockquote[nodetextalignment="center"] {
    text-align: center !important;
  }
}
